* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 36px;
    min-height: 100vh;
    color: #fff;
    background-color: #000;
    display: flex;
    flex-direction: column;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 25%;
  }
  
  img {
    max-width: 100%;
  }
  
  figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }