<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>404 Error</title>
        <link rel="stylesheet" href="../css/style.css" />
    </head>

    <body>
        <h1>404 Error</h1>
        <figure>
            <img src="../img/404_error.png" alt="404 Error Image" />
            <figcaption>404 Error: Resource not found</figcaption>
        </figure>
    </body>
</html>
